/* Main container styles */
main {
  padding: 20px;
  font-family: 'Press Start 2P', sans-serif;
  background: url('/items/pixel_house.gif');
  background-size: contain;
  background-repeat: no-repeat;
  color: #00ff00;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading styles */
h1 {
  font-size: 24px;
  text-transform: uppercase;
}

/* Link styles */
.hover-link {
  color: #ffcc00;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffcc00;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hover-link:hover {
  background-color: #ffcc00;
  color: black;
}