body {
    font-family: 'Geist Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f5ec;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.shelf {
    width: 30em;
	border-bottom: 1em solid #d97a53;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -5em;
	margin-left: -15em;
	padding: 0 3em;
	display: flex;
	align-items: flex-end;
}

.shelf::after,
.shelf::before {
	content: '';
	display: block;
	width: 1em;
	height: 2em;
	position: absolute;
	bottom: -3em;
	background: #732b23;
}

.shelf::before {
	left: 1em;
}

.shelf::after {
	right: 1em;
}

.shadow {
	position: absolute;
	bottom: -2.7em;
	height: 1.7em;
	left: 1em;
	right: 1em;
	z-index: -1;
	background: linear-gradient(to bottom, #aa4a46 0%, #ffc3aa 100%);
}
.item-card {
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    background: transparent;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-card .item-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 320px;
    text-align: center;
}


.modal-image {
    width: 100%;
    margin: 10px 0;
}


.close-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    float: right;
}